# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

apikid=
apikey=
address=

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=9fa1a49060051259454e11e2fadbca8e
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://root@127.0.0.1:3306/nicehash_stats_tracker
###< doctrine/doctrine-bundle ###
